:root{
   --primarycolor: #be9c79;
   --secondarycolor:#666666;
   --tertiaryColor: black;
  --ffPrimary: "Nunito Sans", serif;
  --ffSecondary: "Merienda", serif;
}
body{
    font-family: var(--ffPrimary);
}
h1,h2{
    font-family: var(--ffSecondary);
}
p{
    color:var(--tertiaryColor)
}
/* .heroSection {
  background: linear-gradient(90deg, white, transparent 70%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 14rem 0rem;
} */
.btn{
  background-color: var(--primarycolor);
}
.btn:hover{
  background-color: black;
}
li{
  color: var(--secondarycolor);
}
i{
  background-color: var(--primarycolor);
  color: white;
}
span{
color: var(--primarycolor);
}
.carousel-inner img{
  height:700px;
 width:100%
}
